<template>
  <v-row no-gutters>
    <v-col cols="auto">
      <slot name="members-title">
        <span>Участники</span>
      </slot>
    </v-col>
    <v-col class="pl-2">
      <span>{{ memberNames }}</span>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { IMaintainer } from '@/models';

@Component
export default class AdditionalMembers extends Vue {
  @Prop({ type: Array, default: () => [] }) readonly members!: IMaintainer[];

  private get memberNames (): string {
    return this.members.flatMap(({ username }) => username).join(', ');
  }
}
</script>
