<template>
  <div class="d-flex align-center flex-wrap">
    <v-chip
      v-for="(keyWord, index) in keyWords"
      :key="index"
      label
      small
      class="mr-2 mb-2"
    >
      {{ keyWord }}
    </v-chip>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class KeyWords extends Vue {
  @Prop({ type: Array, default: () => [] }) readonly keyWords!: string[];
}
</script>
