<template>
  <v-card outlined class="pa-4">
    <div class="package">
      <div class="package__header mb-1">
        <span class="package__header__name" @click="showPackage">{{ package.name }}</span>
        <social-links :links="package.links" />
      </div>

      <div class="package__body">
        <div class="package__body__main-info">
          <p class="package__body__main-info__author">{{ getAuthorName() }}</p>
          <v-chip label outlined>Version: {{ package.version }}</v-chip>
          <v-chip label outlined>Date: {{ getFormattedDate(package.date) }}</v-chip>
        </div>

        <p class="package__body__description">{{ package.description }}</p>

        <div v-if="showFullInfo" class="package__body__full-info my-2">
          <additional-members :members="package.maintainers">
            <template #members-title>
              <span>Сопровождающие:</span>
            </template>
          </additional-members>

          <additional-members :members="[package.publisher]">
            <template #members-title>
              <span>Издатель:</span>
            </template>
          </additional-members>
        </div>
      </div>

      <div class="package__footer">
        <key-words :key-words="package.keywords" />
      </div>
    </div>

    <slot name="additional" />
  </v-card>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { IPackage } from '@/models';
import { Action, Getter } from 'vuex-class';
import { IPackageDialogState } from '@/models/Store';

import SocialLinks from '@/components/Package/SocialLinks.vue';
import KeyWords from '@/components/Package/KeyWords.vue';
import AdditionalMembers from '@/components/Package/AdditionalMembers.vue';

@Component({
  components: { AdditionalMembers, KeyWords, SocialLinks }
})
export default class Package extends Vue {
  @Prop({ type: Object, required: true }) readonly package!: IPackage;
  @Prop({ type: Boolean, default: false }) readonly showFullInfo!: boolean;

  @Getter readonly isDialogActive!: boolean;

  @Action private updateDialogState!: (packageData: IPackageDialogState) => void;

  private getAuthorName (): string {
    return this.package.author?.name || this.package.author?.username || this.package.publisher.username || '';
  }

  private getFormattedDate (date: string): string {
    return new Date(date).toLocaleDateString('en-US');
  }

  private showPackage (): void {
    if (this.isDialogActive) return;
    this.updateDialogState({ isDialogActive: true, packageData: this.package });
  }
}
</script>
