<template>
  <div class="d-flex align-center social-links">
    <a
      v-for="(link, key) in links"
      :key="key"
      :href="link"
      class="social-links__link mr-2"
      target="_blank"
    >
      <v-icon color="primary">{{getIcon(key)}}</v-icon>
    </a>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { IPackageLinks } from '@/models';

@Component
export default class SocialLinks extends Vue {
  @Prop({ type: Object, default: () => ({}) }) readonly links!: IPackageLinks;

  private getIcon (linkKey: string): string {
    switch (linkKey) {
      case 'bugs':
        return 'mdi-bug';
      case 'homepage':
        return 'mdi-git';
      case 'npm':
        return 'mdi-book-variant';
      default:
        return 'mdi-account';
    }
  }
}
</script>
