<template>
  <v-dialog
    v-if="isDialogActive"
    v-model="isDialogActive"
    max-width="800"
    persistent
    @click:outside="closeDialog"
  >
    <v-card class="package-dialog">
      <package :package="selectedPackageData" show-full-info>

        <template #additional>
          <div class="package-dialog__buttons">
            <v-btn class="mr-auto" @click="closeDialog">Закрыть</v-btn>
          </div>
        </template>
      </package>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Action, Getter } from 'vuex-class';
import { IPackage } from '@/models';
import { IPackageDialogState } from '@/models/Store';
import Package from '@/components/Package/Package.vue';
@Component({
  components: { Package }
})
export default class PackageDialog extends Vue {
  @Getter readonly isDialogActive!: boolean;
  @Getter readonly selectedPackageData!: IPackage | null;

  @Action private updateDialogState!: (packageData: IPackageDialogState) => void;

  private closeDialog (): void {
    this.updateDialogState({ isDialogActive: false });
  }
}
</script>
