<template>
    <v-card outlined class="pa-4 package-search">
      <v-card-title class="package-search__title mb-2">Поиск пакетов</v-card-title>
      <v-text-field
        v-model="searchText"
        v-bind="searchField"
        class="mb-2"
        @input="searchPackages"
        @click:clear="clearSearch"
      />

      <v-progress-linear v-if="isLoading" indeterminate color="purple" />
      <span v-if="isEmptySearchResult" class="package-search__empty-text">По вашему запросу ничего не найдено</span>
      <package
        v-for="(pack, index) in packages"
        :key="index"
        :package="pack.package"
        class="mb-2"
      />

      <div v-if="packages.length && pagesCount" class="text-center">
        <v-pagination
          v-model="currentPage"
          :length="pagesCount"
          :total-visible="6"
          @input="getPackages(true)"
        />
      </div>

      <package-dialog />
    </v-card>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { IField, IPackageSummary } from '@/models';

import { debounce } from 'lodash';
import Package from '@/components/Package/Package.vue';
import PackageDialog from '@/components/PackageDialog.vue';

const PACKAGES_PER_PAGE = 10;

@Component({
  components: { PackageDialog, Package }
})
export default class PackageSearch extends Vue {
  private isLoading = false;

  private totalPackages = 0;
  private packages: IPackageSummary[] = [];
  private isEmptySearchResult = false;

  private currentPage = 1;

  private searchText = '';
  private searchPackages = debounce(this.getPackages.bind(this, false), 400);
  private searchField: IField = {
    label: 'Поиск',
    placeholder: 'Название пакета',
    clearable: true,
    outlined: true,
    hideDetails: true
  };

  private get pagesCount (): number {
    return Math.round(this.totalPackages / PACKAGES_PER_PAGE);
  }

  private async getPackages (paginationChanged?: boolean): Promise<void> {
    if (!this.searchText) {
      this.clearSearch();
      return;
    }

    try {
      this.isLoading = true;
      if (!paginationChanged) this.currentPage = 1;
      const packagedOffset = (this.currentPage * PACKAGES_PER_PAGE) - PACKAGES_PER_PAGE;
      const { objects, total } = await this.$api.searchPackages(this.searchText, packagedOffset);

      this.totalPackages = total;
      this.packages = objects;
      this.isEmptySearchResult = !objects.length;
    } catch (error) {
      console.error(error);
    } finally {
      this.isLoading = false;
      window.scrollTo(0, 0);
    }
  }

  private clearSearch (): void {
    this.searchText = '';
    this.packages = [];
    this.totalPackages = 0;
    this.isEmptySearchResult = false;
  }
}
</script>
