@import 'variables';

#app {
  font-family: $app-font-family;
  font-size: $font-size-root;
  min-height: 100vh;

  .v-application--wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .package-search {
    width: 60vw;
    margin: 16px auto 0 auto;

    &__title {
      padding: 0;
      font-size: 1.5em;
    }

    &__empty-text {
      color: $grey-color;
    }
  }

  @media (max-width: $breakpoint) {
    font-size: 0.6em;

    .package-search {
      width: 100vw;
      margin: 0;
    }
  }

  .package-dialog {
    &__buttons {
      text-align: right;
    }
  }

  .package {
    &__header {
      display: flex;
      justify-content: space-between;

      &__name {
        margin: 0;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;
      }

      &__name:hover {
        text-decoration: underline;
      }

      .social-links {
        &__link {
          text-decoration: none;
        }
      }
    }

    &__body {
      &__main-info {
        display: flex;
        align-items: baseline;

        * {
          margin-right: 8px;
        }

        &__author {
          cursor: pointer;
        }

        &__author:hover {
          text-decoration: underline;
        }
      }

      &__description {
        color: $grey-color;
      }
    }
  }
}
