<template>
  <v-app id="app">
    <v-main class="mb-3">
      <package-search />
    </v-main>

    <v-footer padless>
      <v-card flat tile width="100%" class="text-center">
        <v-card-text>
          <span class="text-center">Тадевосян Михаил Араевич</span>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-text class="white--text">
          <a href="https://gitlab.com/desg_mike/nethernite" target="_blank" class="text-center">git</a>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import PackageSearch from '@/components/PackageSearch.vue';

@Component({
  components: { PackageSearch }
})
export default class App extends Vue {
}
</script>
